@font-face {
  font-family: "BebasNeue";
  src: url(../font/BebasNeueRegular.otf);
}

.font-1 {
  font-family: "BebasNeue" !important;
  text-transform: uppercase;
}

@font-face {
  font-family: "Eina";
  src: url(../font/Eina.ttf);
}

.font-2 {
  font-family: "Eina" !important;
}
