.footer a{
    text-decoration: none !important;
}

.footer .item {
    width: fit-content;
    display: inline-block;
    border-bottom: 8px solid rgba(0, 0, 0, .25);    
}

.footer .icones a {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .facebook{
    background-color: #3B5998;
}

.footer .github {
    background-color: #24292E;
}

.footer .linkedin {
    background-color: #007bb5;
}

.footer .gmail {
    background-color: #DD4B39;
}