/* Criação de classes utilitarias */
:root{
    --cor-principal: rgb(62, 130, 170);
}

.bg-principal{
    background-color: var(--cor-principal) !important;
    color: white !important;
}

.text-principal {
    color: var(--cor-principal) !important;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

.text-shadow-sm{
    text-shadow: -1px -1px 1px black !important;
}

.border-rounded {
    border-radius: 500px;
}

/* Estilização padrão (reset) */
body, html {
    overflow-x: hidden;
    padding: 0;
}

/* Estilização da página */

.titulo {
    color: var(--cor-principal);
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

.bg-principal .titulo {
    text-shadow: -4px 4px rgba(0, 0, 0, 0.26);
}

.main .lista .item {
    color: var(--cor-principal);
    background-color: white;
    padding: .5em 1em;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    border-radius: 500px;
    font-weight: bold;
}

.habilidades .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    border: 2px solid var(--cor-principal);
    border-top: none;
    border-left: none;
    text-align: center;
    margin-top: 1em;
    width: 100%;
}

.habilidades .item .icone{
    margin-bottom: 10px;
    color: var(--cor-principal);
}

.habilidades .item strong {
    color: var(--cor-principal);
}

.habilidades .item .texto {
    font-size: 16px;
}