@font-face {
    font-family: "BebasNeue";
    src: url(../font/BebasNeueRegular.otf);
}
.bebas-neue{
    font-family: "BebasNeue";
    text-transform: uppercase;
}
@font-face {
    font-family: "Eina";
    src: url(../font/Eina.ttf);
}
.eina {
    font-family: "Eina";
}
:root{
    /* --cor-green: rgb(11, 45, 194); */
    --cor-green: rgb(15, 168, 84);
}
.bg-green{
    background-color: var(--cor-green);
    color: white;
}
.text-green {
    color: var(--cor-green);
}
body {
    overflow-x: hidden; 
}
.header {
    border-bottom: 10px solid rgba(0, 0, 0, 0.137);
}
#apresentacao .foto {
    shape-outside: border-box;
    padding: 10px;
    float: left;
}
.text-shadow-sm{
    text-shadow: -1px -1px 1px black;
}
h2.titulo {
    text-shadow: -1px -1px 1px black;
    font-weight: bold;
    width: fit-content;
    color: white; 
    margin: auto;
    position: relative;
    z-index: 2;
}
h2.titulo::before{
    content: " ";
    width: 105%;
    height: 100%;    
    position: absolute;
    z-index: -1;
    background-color: var(--cor-green);
    transform: rotate(-4deg) translate(-50%, -6%);
    left: 50%;
}
.titulo {
    color: var(--cor-green);
    font-family: "BebasNeue";
    text-align: center;

}
.main .lista .item {
    color: var(--cor-green);
    padding: .5em;
    border-top: 1px solid var(--cor-green);
    border-right: 1px solid var(--cor-green);
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}
.main .lista .item::before {
    content: " ";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: var(--cor-green);
    z-index: -1;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.main .lista .item:hover{
    color: white;
    font-weight: bold;
}
.main .lista .item:hover::before{
    width: 100%;
}
section {
    background-color: #EEE;
}
.container {
    background-color: white;
}

.footer {
    background-color: #f7f7f7;
}

.footer a{
    text-decoration: none !important;
}
.footer .item {
    width: fit-content;
    display: inline-block;
}
.footer .icones a {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .facebook{
    background-color: #3B5998;
}
.footer .github {
    background-color: #24292E;
}
.footer .linkedin {
    background-color: #007bb5;
}
