/* Criação de variaveis */

:root {
    --cor-principal: rgb(62, 130, 170);
}

/* Estilização da página */

.apresentacao {
    background-image: url(../../img/binary-rain.png);
    background-repeat: repeat-x;
    background-size: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.meus-conhecimentos {
    background-color: var(--cor-principal);
}

.section-title {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
}

.meus-conhecimentos .section-title {
    color: white;
    text-shadow: -4px 4px rgba(0, 0, 0, 0.26);
}

@media(min-width: 1200px) {
    html {
        font-size: 1.15em;
    }
}