@import '_colors';

// Fontes

*, input, select, textarea, button {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  src: url(../font/BebasNeue.otf);
  font-family: 'BebasNeue';
}

/* Estilização da página */

* {
  box-sizing: border-box;
}

.meus-conhecimentos {
  background-color: $cor-principal;
}

.section-title {
  font-family: 'BebasNeue';
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.meus-conhecimentos .section-title {
  text-shadow: -4px 4px rgba(0, 0, 0, 0.25);
}
