.habilidades {
    padding: .5em 15px;
}

.habilidades .habilidades__list {
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.habilidades .habilidades__col{
    margin: 2em 0;
}

.habilidades .habilidades__col {
    padding-bottom: 0;
    padding-top: 0;
}

@media(min-width: 1428px){
    .habilidades .habilidades__col{
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

.habilidades .habilidades__item {
    border: 3px solid var(--cor-principal);
    border-radius: 4px;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    width: 100%;
    z-index: 1;
}

.habilidades .habilidades__item__icon {
    width: 1.5em;
    height: 1.5em;
    margin: -3rem 5px 10px auto;
    padding: .25em;
    border-radius: 50%;
    background-color: var(--cor-principal);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habilidades .habilidades__item__title {
    font-size: 1.25em;
    font-weight: 500;
    position: relative;
    background-color: var(--cor-principal);
    color: white;
    padding: 10px 1em;
    margin-left: calc(-1em - 7px);
}

.habilidades .habilidades__item__title::before {
    content: " ";
    position: absolute;
    z-index: 1;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent var(--cor-principal) transparent transparent;
    border-width: 0 10px 10px 0;
    top: 100%;
    left: 0;
}

.habilidades .habilidades__item span {
    color: var(--cor-principal);
}
