.listContatos-lista {
    list-style: none;
    padding: 0;
}

.listContatos .listContatos-item {
    width: fit-content;
    display: inline-block;
    border-bottom: 8px solid rgba(0, 0, 0, .25);    
}

.listContatos a {
    text-decoration: none !important;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listContatos .facebook{
    background-color: #3B5998;
}

.listContatos .github {
    background-color: #24292E;
}

.listContatos .linkedin {
    background-color: #007bb5;
}

.listContatos .gmail {
    background-color: #DD4B39;
}