.listHabilidades .listHabilidades-list {
    list-style: none;
    padding: 0;
}

.listHabilidades .listHabilidades-item {
    padding: 0 10px;
    text-align: center;
    width: 100%;
    margin: 1em 0;
}

.listHabilidades .listHabilidades-icon {
    width: 1.5em;
    height: 1.5em;
    margin: 5px auto;
    padding: .25em;
    border-radius: 50%;
    background-color: var(--cor-principal);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listHabilidades .listHabilidades-title {
    font-size: 1.25em;
    font-weight: bold;
}

.listHabilidades .listHabilidades-item strong {
    color: var(--cor-principal);
}