.listContatos .listContatos-list {
    list-style: none;
    padding: 0;
}

.listContatos .listContatos-item {
    width: fit-content;
    display: inline-block;
    border-radius: 50%;
    transition: 200ms ease-in-out;
}

.listContatos .listContatos-item:hover {
    box-shadow: 8px 0px #CCC;
    color: white;
}

.listContatos .listContatos-item.github:hover{
    background-color: #24292E;
}

.listContatos .listContatos-item.linkedin:hover{
    background-color: #007bb5;
}

.listContatos .listContatos-item.gmail:hover{
    background-color: #DD4B39;
}

.listContatos a {
    text-decoration: none !important;
    width: 50px;
    height: 50px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}