.minhas-redes .minhas-redes__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.minhas-redes .minhas-redes__item {
    border-radius: 50%;
    display: inline-block;
    transition: 200ms ease-in-out;
    width: fit-content;
}

.minhas-redes .minhas-redes__item:hover {
    color: white;
    box-shadow: -8px 0px #CCC;
}

.minhas-redes .minhas-redes__item--github:hover {
    background-color: #24292E;
}

.minhas-redes .minhas-redes__item--linkedin:hover {
    background-color: #007bb5;
}

.minhas-redes .minhas-redes__item--gmail:hover {
    background-color: #DD4B39;
}

.minhas-redes a {
    text-decoration: none !important;
    width: 50px;
    height: 50px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}